amqp
anyio
asgiref
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
diff-match-patch
dj-database-url
Django
django-cors-headers
django-dotenv
django-import-export
django-jazzmin
django-rest-framework
djangorestframework
djangorestframework_simplejwt
drf-yasg
h11
httptools
idna
inflection
kombu
packaging
pillow
prompt_toolkit
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
redis
requests
six
sqlparse
tablib
tzdata
tzlocal
uritemplate
urllib3
uvicorn
uvloop
vine
watchfiles
wcwidth
websockets
