asgiref
certifi
charset-normalizer
Django
django-cors-headers
django-dotenv
django-jazzmin
django-rest-framework
djangorestframework
drf-yasg
idna
inflection
packaging
pillow
pytz
PyYAML
requests
sqlparse
uritemplate
urllib3
